@import ../_common

header
    position: fixed
    top: 0
    right: 0
    bottom: 0
    left: 0
    z-index: 5
    transition: .5s ease
    height: var(--headerheight)
    border-bottom: 1px solid #00000033
    @include after(#FFFFFFCC)
    &::after
        backdrop-filter: blur(15px)
        bottom: auto
        height: 100%
        z-index: -1
        transition: .5s ease
    .container, .container-fluid
        height: 100%
    .header-container
        height: 100%
        transition: .5s ease
        display: flex
        flex-wrap: wrap
        align-items: center
        justify-content: center
        transition: .5s ease
        gap: 4rem
        @include media(1336)
            gap: 2rem
        @include media(991)
        justify-content: space-between
        @include media(540)
            gap: 1rem
        .colA, .colB, .colC
            height: 100%
            display: flex
        .colA
            flex: 0 1 200px
            @include media(1170)
                flex: 0 1 170px
            @include media(540)
                flex: 0 1 150px
            .logo
                height: 100%
                width: 100%
                img
                    width: 100%
                    height: 100%
                    object-fit: contain
        .colB
            flex: 1
            align-items: center
            justify-content: center
            @include media(991)
                display: none
            .nav-items
                display: flex
                align-items: center
                justify-content: center
                gap: 40px
                height: 100%
                @include media(1336)
                    gap: 30px
                @include media(1170)
                    gap: 15px
                @include media(768)
                    gap: 20px
                @include media(540)
                    gap: 10px
                >li
                    height: 100%
                    transition: .5s ease
                    position: relative
                    &:hover
                        >a, p
                            color: var(--secondary)
                            &::before
                                width: 100%
                    &.hasDropdown
                        &:hover
                            .dropdown-menu
                                transform: translate(-50%, 0px)
                                opacity: 1
                                pointer-events: all
                            > a
                                svg
                                    color: var(--secondary)
                                    transform: rotate(180deg)
                        .dropdown-menu
                            position: absolute
                            background: $white
                            top: 100%
                            width: fit-content
                            height: 250px
                            border-radius: 10px
                            box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px
                            @include scrollbar($width: 8px)
                            left: 50%
                            transform: translate(-50%, 30px)
                            transform-origin: top
                            transition: .4s ease
                            pointer-events: none
                            --triangle: 10px
                            opacity: 0
                            @include media(1170)
                                left: 100%
                            &::-webkit-scrollbar
                                width: 4px
                                height: 3px
                            &::-webkit-scrollbar-thumb
                                background-color: var(--primary)
                            &:not(:has(.col-sub-menu))
                                height: 100px
                            @include media(991)
                                left: 6%
                                top: 85%
                            .dropdown-menu-wrap
                                height: 100%
                                width: 745px
                                &:not(:has(.col-sub-menu))
                                    width: 200px
                                    .flex
                                        --leftwidth: 100%
                                        .colA
                                            // background: $white
                                            .subcat-li
                                                &:hover
                                                    >a, p
                                                        background: $white
                                                        color: $secondary
                                                        &::before
                                                            width: 100%
                                .flex
                                    width: 100%
                                    height: 100%
                                    --leftwidth: 30%
                                    --ulpadding: 15px 15px 20px
                                    .colA
                                        flex: 1
                                        position: relative
                                        background: #f5f5f5
                                        border-radius: 10px
                                        .subcat-ul
                                            width: var(--leftwidth)
                                            height: 100%
                                            overflow-y: auto
                                            padding: 5px 0
                                            // padding: var(--ulpadding)
                                            .subcat-li
                                                &.active
                                                    >a, p
                                                        background: $white
                                                        color: $secondary
                                                        &::before
                                                            width: 100%
                                                    .col-sub-menu
                                                        display: block
                                                >a, p
                                                    position: relative
                                                    cursor: pointer
                                                    display: block
                                                    padding: 10px 15px
                                                    font-weight: 500
                                                    color: $text
                                                    transition: .5s ease
                                                    &::before
                                                        content: ""
                                                        position: absolute
                                                        left: 0
                                                        bottom: 0
                                                        height: 1px
                                                        background: $secondary
                                                        width: 0
                                                        transition: .5s ease
                                                .col-sub-menu
                                                    position: absolute
                                                    top: 0
                                                    left: var(--leftwidth)
                                                    width: calc(100% - var(--leftwidth))
                                                    height: 100%
                                                    background-color: var(--white)
                                                    padding: var(--ulpadding)
                                                    border-left: 1px solid rgba(239, 239, 239, 0.8)
                                                    display: none
                                                    transition: 0.5s ease
                                                    border-top-right-radius: 10px
                                                    border-bottom-right-radius: 10px
                                                    .subsubcat-ul
                                                        display: grid
                                                        grid-template-columns: repeat(2, 1fr)
                                                        grid-gap: 15px 10px
                                                        li
                                                            line-height: 1
                                                            a
                                                                color: $text
                                                                font-size: 14px
                                                                line-height: 1.3
                                                                &:hover
                                                                    color: $secondary

                    >a, p
                        color: $black
                        font-weight: 500
                        cursor: pointer
                        height: 100%
                        display: flex
                        align-items: center
                        gap: 5px
                        position: relative
                        @include media(1170)
                            font-size: 14px
                        &::before
                            content: ""
                            position: absolute
                            left: 0
                            bottom: 0
                            height: 2px
                            width: 0
                            background: $secondary
                            transition: .5s ease
                        svg
                            width: 28px
                            height: 28px
                            transition: .5s ease
        .colC
            flex: 0 1 auto
            align-items: center
            gap: 20px
            @include media(1336)
                gap: 30px
            @include media(1170)
                gap: 10px
            @include media(991)
                gap: 20px
                justify-content: end
            @include media(768)
                flex: 1
            @include media(540)
                gap: 15px
            .lang_select
                position: relative
                cursor: pointer
                .selected_lang
                    display: flex
                    align-items: center
                    gap: 5px
                    border: 1px solid #00000033
                    padding: 8px 10px
                    border-radius: 25px
                    @include media(540)
                        padding: 4px 10px
                    .show_lan
                        flex: 1
                        color: #303030
                        font-weight: 400
                    .icon
                        flex: 0 1 auto
                        width: 24px
                        height: 24px
            .btn
                @include media(768)
                    display: none
                @include media(540)
                    gap: 5px
                    svg
                        width: 15px
                        height: 15px
            .ham-btn
                display: none
                @include media(768)
                    display: block
                span
                    display: block
                    width: 35px
                    height: 2px
                    background: $black
                    transition: .5s ease
                    &:not(:last-child)
                        margin-bottom: 6px

header
    &.header-fixed
        transition: .5s ease
        height: var(--headerfixed)
        box-shadow: 0px 2px 8px 0px #63636333
        &::after
            height: 100%
    &.header-fit
        transition: .5s ease
        border-bottom: 1px solid #00000033
        &::after
            height: 100%
        .header-container
            .colA
                .logo
                    transition: none !important
    &.no_shadow
        box-shadow: none

.login-pop
    max-width: 550px
    background: $white
    right: 0
    transform: translateX(100%)
    transition: .7s ease
    background: $white
    &.is-open
        transform: translateX(0%)
    .close
        top: 25px
        right: 25px
        @include media(675)
            top: 20px
            right: 20px
        path
            stroke: $black
    .model-body
        padding: 0px 70px 50px
        margin-top: 60px
        height: 100%
        overflow-y: auto
        @include scrollbar(6px,none,$primary,25px)
        @include media(675)
            padding: 40px 25px 50px
        .title
            margin-bottom: 2.5rem
            .ico
                width: 70px
                line-height: 0
                margin: 0 auto 30px
                img
                    width: 100%
            h4
                text-align: center
                font-size: 20px
                font-weight: 500
                line-height: 1.282
                letter-spacing: 2px
                text-transform: uppercase
        .form-group-login
            border-bottom: 1px solid $text
            display: flex
            gap: 10px
            position: relative
            align-items: center
            .wefeewf
                position: absolute
                left: 0
                right: 0
                color: red
                font-weight: bold
                font-size: 14px
                top: calc(100% + 10px)
            .mobile-input,.dial-code
                border: none
                width: 100%
                height: 42px
                color: $black
                &:focus
                    outline: none
            .dial-code
                flex: 0
                min-width: 20px
                caret-color: transparent
                display: flex
                align-items: center
                justify-content: center
                svg
                    width: 100%
                    height: auto
            .mobile-input
                flex: 1
        .sbmt-btn-div
            margin: 40px 0
            text-align: center
            .btn
                max-width: 100%
        .split-sec
            overflow: hidden
            p
                text-align: center
                position: relative
                width: fit-content
                margin: 0 auto
                color: $text
                @include font(500)
                &::before,&::after
                    content: ''
                    position: absolute
                    top: 50%
                    translate: 0 -50%
                    width: 200px
                    height: 1px
                    background: #ECECEC
                &::before
                    left: calc(100% + 12px)
                &::after
                    right: calc(100% + 12px)
        .btm-social-wrp
            display: flex
            align-items: center
            gap: 0 30px
            margin-top: 40px
            .btn
                background-color: transparent
                border: 1px solid $text
                max-width: 100%
                color: $text
                &:hover
                    border-color: $primary
                    color: $white
                    background-color: var(--primary)
                    svg
                        path
                            fill: $white
                svg
                    path
                        fill: $text
            > *
                flex: 1
            svg
                width: auto
        .register
            text-align: center
            color: $text
            margin-top: 46px
            .reg-btn
                color: $primary
                font-weight: bold
        &.otp-verify
            .otp-verify-wrap
                padding-top: 3rem
            .back-to-login
                display: inline-flex
                align-items: center
                gap: 0 8px
                color: $primary
                @include font(500)
                &:hover
                    color: $primary
                img
                    width: 13px
                    transform: rotate(90deg)
            .enter-nm-erww
                margin-top: 1rem
                margin-bottom: 3rem
            .txtVr
                font-size: 20px
                color: $text
                text-align: center
                span
                    display: block
                    font-size: 16px
                    margin-top: 5px
                    font-weight: 500
            .cojm-wrap
                position: relative
                .otp-error-ozrj
                    color: red
                    position: absolute
                    font-size: 14px
                    bottom: 20px
                    left: 0
                    right: 0
                    text-align: center
            .verify-button
                width: 100%
                text-align: center
                a
                    text-transform: uppercase
                    max-width: 100%
            .enter_new
                margin-bottom: 40px
                .form-group-login
                    &::before
                        display: none
            .otpInput
                padding: 50px 0 60px
                max-width: 230px
                margin: 0 auto
                @include flex
                gap: 0 21px
                input
                    flex: 1
                    height: 40px
                    width: 100%
                    border: none
                    @include font(500)
                    border: 1px solid #D9D9D9
                    border-radius: 5px
                    text-align: center
                    &:focus
                        outline: none

.loanOffer-pop
    max-width: 500px
    background: $white
    right: 0
    transform: translateX(100%)
    transition: .7s ease
    background: $white
    &.is-open
        transform: translateX(0%)
    .close
        top: 25px
        right: 25px
        @include media(675)
            top: 20px
            right: 20px
        path
            stroke: $black
    .model-body
        padding: 0px 70px 50px
        margin-top: 30px
        height: 100%
        overflow-y: auto
        @include scrollbar(6px,none,$primary,25px)
        @include media(675)
            padding: 40px 25px 50px
        .title
            margin-bottom: 1rem
            text-align: center
            .ico
                line-height: 0
                margin: 0 auto 20px
                img
                    width: 100%
            h4
                text-align: center
                font-size: 20px
                font-weight: 500
                line-height: 1.282
                letter-spacing: 1px
                text-transform: uppercase
            p
                font-weight: 400
        .form
            --gaptb: 15px
            .sbmt-btn-div
                .btn
                    max-width: 100%

.model.filter_model
    left: 0
    max-width: 480px
    transform: translateX(-100%)
    transition: .5s ease
    z-index: 10
    &.is-open
        transform: translateX(0%)
    .close
        top: 17px
        right: 22px
        svg
            width: 18px
            path
                stroke: $black !important
                stroke-width: 2 !important
    .model-body
        padding: 0px 40px 30px
        margin-top: 60px
        height: calc(100% - 60px)
        overflow-y: auto
        display: flex
        flex-direction: column
        position: relative
        @include scrollbar(0px,$black,#fff,0px)
        @include media(540)
            padding: 0 20px 40px
        .icon
            display: flex
            align-items: center
            gap: 15px
            margin-bottom: 30px
            line-height: 0
            font-weight: 600
            letter-spacing: 4px
            font-size: 30px
            color: #000
            img,svg
                width: 50px
                height: auto
                @include media(540)
                    width: 30px
                path
                    fill: #000
        .nav-list
            width: 100%
            >li
                cursor: pointer
                &:not(:last-child)
                    margin-bottom: 15px
                &.desktop-non
                    display: none
                &.hasDropdown
                    position: relative
                    &:hover
                        .title
                            h5
                                color: #666
                    .title
                        display: flex
                        justify-content: space-between
                        align-items: center
                        &.active
                            svg
                                transform: rotate(90deg)
                        h5
                            font-size: 22px
                            color: #000
                            transition: .5s ease
                        .arrow
                            width: 30px
                            transition: .5s ease
                        svg
                            transition: .5s ease
                            width: 16px
                    .dropdown-menu-ham
                        display: none
                        padding-top: 15px
                        ul
                            border-top: 1px solid #dadada
                            border-bottom: 1px solid #dadada
                            padding: 15px 10px
                            li
                                a
                                    display: block
                                    font-size: 18px
                                    color: #666
                                    padding: 5px 0
                                    transition: .5s ease
                                    &:hover
                                        color: #000
                >a
                    font-size: 20px
                    line-height: 1.06
                    color: #000
                    display: inline-block
                    @include font(500)
                    &:hover
                        color: #666
        .bottom-list
            margin-top: 2rem
            padding-top: 1rem
            display: flex
            align-items: center
            gap: 1rem
            .social-icons
                a
                    display: inline-flex
                    vertical-align: middle
                    align-items: center
                    justify-content: center
                    height: 40px
                    width: 40px
                    border-radius: 50%
                    color: #000
                    line-height: 0
                    overflow: hidden
                    &:not(:last-child)
                        margin-right: 4px
                    svg
                        width: 24px
                        height: 24px
                        path
                            transition: none
                            &[stroke],&[fill="none"]
                                stroke: currentColor
                            &[fill]
                                fill: currentColor
                    &:hover
                        color: #666
                        &::before
                            transition: .5s ease
                            opacity: 1
                            transform: scale(1)

.message-pop
    position: fixed
    top: calc(var(--headerheight) + 12px)
    right: 30px
    background: $primary
    z-index: 7
    padding: 8px 15px
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px
    border-radius: 5px
    *
        color: $white

.model-full
    left: 0
    right: 0
    max-width: 100%
    width: 100%
    background: none
    pointer-events: none
    display: flex
    align-items: center
    transform: translateY(100%)
    transition: .5s ease
    overflow: hidden
    &.is-open
        transform: translateY(0%)
    .dialog-wrapper
        width: 100%
        background: $white
        margin: 0 auto
        pointer-events: all
        border-radius: 10px
        overflow: hidden
        position: relative
        .title
            padding: 8px 20px
            border-bottom: 1px solid #e7e7e7
            font-size: 20px
            @include font(600)
            color: $black
            &:has(.close)
                position: relative
            .close
                right: 20px
                top: 50%
                translate: 0 -50%
                line-height: 0
                z-index: 2
                svg
                    width: 20px
                    height: auto
                path
                    stroke: $black
        .content
            padding: 12px 20px
    &.cancel-order-pop
        .dialog-wrapper
            max-width: 540px
            .close
                right: 18px
                top: 28px
                svg
                    width: 18px
            .model-body
                padding: 35px 30px 55px
                .ksxif
                    margin-bottom: 50px
                    h4
                        color: $black
                        font-size: 20px
                        line-height: 24px
                .form
                    --gaptb: 18px
    &.add-address-pop
        .dialog-wrapper
            max-width: 470px
            @include media(540)
                height: 100%
                border-radius: 0
        .close
            right: 18px
            top: 28px
        .model-body
            padding: 36px 38px 60px
            @include media(1366)
                max-height: 530px
                overflow-y: auto
                @include scrollbar($width: 6px)
            @include media(540)
                height: 90%
            .pilce
                display: flex
                gap: 1rem
                margin-bottom: 50px
                h4
                    flex: 1
                    font-size: 20px
                    line-height: 25.64px
                    font-weight: 500
                    text-transform: uppercase
                .close
                    svg
                        width: 18px
            .form
                --item: 2
                --borderbefore: var(--text)
                --gaptb: 16px
                --gaplr: 16px
                --labelfontbefore: 14px
                --labelfontafter: 12px
                .label-tzooz
                    color: $black
                .chckbx-tkfrb
                    margin-top: 12px
                    p
                        font-size: var(--labelfontbefore)
                .btn-grp
                    margin-top: 20px

.video-pop
    left: 0
    right: 0
    background: #0000007a
    z-index: 9
    max-width: 100%
    transform: translateY(100%)
    transition: .5s ease
    &.is-open
        transform: translateY(0%)
    .close-video
        position: absolute
        bottom: calc(100% + 20px)
        top: auto
        right: -40px
        height: 50px
        width: 50px
        border-radius: 50%
        background: $primary
        display: flex
        align-items: center
        justify-content: center
        transition: .5s ease
        @include media(675)
            right: 0
        &:hover
            background: $secondary
        svg
            height: 35%
            width: 35%
        path
            stroke-width: 2
            stroke: $white
    .model-body
        position: absolute
        top: 50%
        left: 50%
        translate: -50% -50%
        width: 100%
        max-width: 50%
        @include media(675)
            max-width: 95%
        iframe
            width: 100%
            aspect-ratio: 1.9
            border: 2px solid $white

.product-not-found
    position: absolute
    top: 0
    left: 0
    right: 0
    width: 100%
    z-index: 1
    &.not-found2
        position: relative
    .nt-fnd-wrp
        text-align: center
        .ico
            width: 120px
            margin-left: auto
            margin-right: auto
            filter: grayscale(1)
        p
            font-size: 24px
            margin: 10px 0 3rem
            color: $black

footer
    background: linear-gradient(0deg, #DFE5F1, #FFFFFF)
    @include media(540)
        // margin-bottom: var(--footerstrip)
    .container-fluid, .container
        padding-bottom: 30px
        @include media(768)
            padding-bottom: 40px
        @include media(540)
            padding-bottom: 20px
        .upper-footer
            display: flex
            flex-wrap: wrap
            --gap: 80px
            gap: var(--gap)
            padding-bottom: 50px
            border-bottom: 1px solid #00000033
            @include media(1280)
                --gap: 70px
                padding-bottom: 40px
            @include media(1170)
                --gap: 60px
            @include media(991)
                --gap: 40px
            @include media(540)
                padding-bottom: 20px
                --gap: 30px
            .colA
                flex: 0 1 25%
                @include media(991)
                    margin: 0 auto
                    flex: 0 1 45%
                @include media(768)
                    flex: 0 1 80%
                @include media(540)
                    width: 100%
                    flex: 1
                .logo
                    display: block
                    width: 240px
                    @include media(1280)
                        width: 200px
                    @include media(991)
                        margin: auto
                    @include media(540)
                        margin: 0 auto
                .news_letter
                    margin-top: 30px
                    @include media(540)
                        margin-top: 20px
                    .form-group
                        .joinBtn
                            position: absolute
                            right: 0
                            top: 50%
                            transform: translate(0, -50%)
                            display: flex
                            align-items: center
                            gap: 10px
                            font-size: 14px
                            color: $primary
                            font-weight: 600
                .list
                    margin-top: 40px
                    @include media(540)
                        margin-top: 20px
                    h6
                        font-size: 16px
                        padding-bottom: 10px
                        @include media(540)
                            text-align: center
                    .social_icons
                        display: flex
                        flex-wrap: wrap
                        align-items: center
                        gap: 15px
                        margin-top: 20px
                        li
                            a
                                display: flex
                                align-items: center
                                justify-content: center
                                width: 41px
                                height: 41px
                                border: 1px solid $primary
                                color: $primary
                                border-radius: 50%
                                &:hover
                                    background: $primary
                                    color: $white
            .colB
                flex: 1
                display: flex
                flex-wrap: wrap
                gap: 50px
                @include media(991)
                    flex: 0 1 100%
                    justify-content: space-between
                    max-width: 90%
                    gap: 40px
                    margin: auto
                @include media(768)
                    max-width: 100%
                @include media(540)
                    max-width: 100%
                    gap: 15px

                .list
                    flex: 0 1 auto
                    @include media(540)
                        flex: 0 1 100%
                    &.contact
                        flex: 1
                        @include media(540)
                            flex: 0 1 100%
                    @include media(768)
                        &:last-child
                            flex: 0 1 100%
                    h6
                        font-size: 16px
                        color: $black
                        font-weight: 600
                    ul
                        margin-top: 20px
                        li
                            display: flex
                            align-items: start
                            gap: 10px
                            color: $primary
                            &:not(:last-child)
                                margin-bottom: 8px
                            .icon
                                flex: 0 1 25px
                                width: 25px
                                svg
                                    width: 100%
                                    height: 100%
                            a, p
                                flex: 1
                                display: block
                                font-size: 14px
                                font-weight: 400
                                color: #000000B2
                                transition: .4s ease
                                @include media(540)
                                    font-size: 14px
                                &:hover
                                    transform: translateX(5px)
        .lower-footer
            margin-top: 20px
            display: flex
            align-items: center
            justify-content: space-between
            gap: 10px
            @include media(768)
                flex-direction: column
            @include media(540)
                flex-direction: column-reverse
                gap: 15px
            p
                font-size: 14px
                color: #000000B2
                font-weight: 500
                display: flex
                align-items: center
                gap: 7px
                @include media(540)
                    flex-direction: column
                    text-align: center
                    gap: 0
                a
                    color: #000000B2
                    display: flex
                    align-items: center
                    gap: 8px
                    line-height: 0
                    @include media(540)
                        gap: 5px
                    img
                        line-height: 0
                        width: 60px
                        height: 20px
                        object-fit: contain
            .links
                display: flex
                align-items: center
                gap: 10px
                a
                    font-size: 14px
                    font-weight: 600
                    color: #000000B2

.thanks_banner
    margin-top: var(--headerheight)
    .bg
        height: calc( 100vh - var(--headerfixed) )
        .banner-wrapper
            .content
                text-align: center
                figure
                    width: 50px
                    margin: 0 auto
                    padding-bottom: 20px
                    img
                        height: 100%
                h1
                    font-size: 60px
                    color: $white
                    font-weight: 500
                    line-height: 1.5
                p
                    font-size: 20px
                    color: $white
                    padding-bottom: 50px

.model.ham-pop
    right: 0
    max-width: 480px
    transform: translateX(100%)
    transition: .5s ease
    z-index: 10
    &::before
        content: ""
        position: absolute
        left: 0
        bottom: 0
        width: 100%
        height: 100%
    &.is-open
        transform: translateX(0%)
    .close
        top: 17px
        right: 22px
        &:hover
            svg
                path
                    stroke: $black !important
        svg
            width: 25px
            path
                stroke: $text !important
                stroke-width: 2 !important
    .model-body
        padding: 0px 40px 30px
        margin-top: 60px
        height: calc(100% - 60px)
        overflow-y: auto
        display: flex
        flex-direction: column
        position: relative
        @include scrollbar(0px)
        @include media(540)
            padding: 0 20px 20px
            margin-top: 40px
        .nav-list
            width: 100%
            >li
                &:not(:last-child)
                    margin-bottom: 15px
                &.hasDropdown
                    position: relative
                    cursor: pointer
                    &.active
                        p, a
                            svg
                                transform: rotate(-90deg)
                        .dropdown-menu-ham
                            grid-template-rows: 1fr
                            >ul
                                border-bottom: 1px solid #dadada
                                padding: 10px 0
                    .dropdown-menu-ham
                        display: grid
                        grid-template-rows: 0fr
                        padding-top: 15px
                        transition: .5s ease
                        >ul
                            border-top: 1px solid #dadada
                            // border-bottom: 1px solid #dadada   
                            // padding: 10px 0
                            transition: .5s ease
                            overflow: hidden
                            li
                                &.hasSubDropdown
                                    &:not(:last-child)
                                        margin-bottom: 15px
                                    &.active
                                        >p, >a
                                            color: $secondary
                                        .sub-dropdown-menu
                                            padding: 10px 10px 0
                                            grid-template-rows: 1fr
                                        .icon
                                            --bgcolor: var(--secondary)
                                            &::after
                                                transform: scaleY(0)
                                    p, a
                                        font-size: 20px
                                        color: $text
                                        svg
                                            transition: .5s ease
                                    .icon
                                        --bgcolor: var(--text)
                                        --size: 18px
                                        --border: 2px
                                        height: var(--size)
                                        width: var(--size)
                                        @include before(var(--bgcolor))
                                        @include after(var(--bgcolor))
                                        &::before,&::after
                                            transition: .5s ease
                                        &::before
                                            top: calc(var(--size) / 2 - var(--border) / 2)
                                            bottom: auto
                                            height: var(--border)
                                            width: 100%
                                        &::after
                                            left: calc(var(--size) / 2)
                                            translate: -50% 0
                                            right: auto
                                            width: var(--border)
                                            height: 100%
                                    .sub-dropdown-menu
                                        display: grid
                                        grid-template-rows: 0fr
                                        padding: 0 10px
                                        transition: .5s ease
                                        ul
                                            transition: .5s ease
                                            overflow: hidden
                                        .subsubcat-li
                                            a, p
                                                font-size: 14px
                                a
                                    display: block
                                    font-size: 16px
                                    color: #666
                                    padding: 3px 0
                                    transition: .5s ease
                                    &:hover
                                        color: $primary
                >a, p
                    display: flex
                    align-items: center
                    justify-content: space-between
                    font-size: 22px
                    color: #000
                    transition: .3s ease
                    @include font(500)
                    &:hover
                        color: $secondary
                    svg
                        transition: .5s ease
        .bottom-list
            margin-top: 2rem
            padding-top: 1rem
            display: flex
            align-items: center
            gap: 1rem
            border-top: 1px solid #dadada
            .social-icons
                display: flex
                flex-wrap: wrap
                align-items: center
                gap: 15px
                a
                    display: inline-flex
                    vertical-align: middle
                    align-items: center
                    justify-content: center
                    border: 1px solid $text
                    height: 40px
                    width: 40px
                    border-radius: 50%
                    color: $text
                    line-height: 0
                    overflow: hidden
                    svg
                        width: 20px
                        height: 20px
                        path
                            transition: none
                            &[stroke],&[fill="none"]
                                stroke: currentColor
                            &[fill]
                                fill: currentColor
                    &:hover
                        background-color: $secondary
                        border-color: $secondary
                        color: $white

.enquire-pop
    right: 0
    transform: translateX(100%)
    transition: .5s ease
    &::before
        content: ""
        position: absolute
        left: 0
        bottom: 0
        width: 100%
        height: 100%
        // background: url(../../assets/images/logo-dark.svg) no-repeat var(--white)
        background-position: 190% 110%
        z-index: -1
        opacity: 0.1
        @include media(540)
            background-size: 85%
    &.is-open
        transform: translateX(0%)
    .close
        &:not(.btn)
            top: 20px
            right: 20px
    .model-body
        padding: 0px 35px 30px
        margin-top: 50px
        height: 100%
        overflow-y: auto
        @include scrollbar(3px,$white,#5e5e5e,8px)
        @include media(768)
            padding: 0px 15px 20px
        .title
            text-align: center
            margin-bottom: 1.5rem
            h4
                font-size: 32px
                color: $black
                @include font(500)
            p
                color: $text
                font-size: 14px
                max-width: 317px
                margin: 5px auto 0
                @include media(675)
                    font-size: 14px
                    max-width: 300px
        .form
            --gaptb: 25px
            --labelbefore: $black
            --labelafter: $black
            --borderbefore: $black
            --color: $black
            --borderbefore: var(--black)
            .sbmt-grp
                margin-top: 1rem
                .btn
                    margin: 0 auto

.sticky_action
    align-items: center
    gap: 15px
    position: fixed
    bottom: 3%
    right: 3%
    translate: 3% 3%
    z-index: 5
    @include media(675)
        display: none
    .whatsapp
        display: flex
        align-items: center
        justify-content: center
        width: 40px
        height: 40px
        padding: 0
        max-width: 100%
        border-radius: 50%
        box-shadow: 0 5px 15px 0 #00000059
        &:hover
            border-color: $primary
            background: $primary
            svg
                path
                    fill: #fff
    .call_action
        display: flex
        align-items: center
        gap: 5px
        box-shadow: 0 5px 15px 0 #00000059
        font-size: 14px
        height: 36px
        &:hover
            border-color: $primary
            background: $primary

.list-filter-wrap
    --filterheight: 45px
    --bordercolor: #66666638
    border-bottom: 1px solid var(--bordercolor)
    border-top: 1px solid var(--bordercolor)
    position: sticky
    top: var(--headerfixed)
    left: 0
    right: 0
    background: $white
    height: 100%
    z-index: 4
    @include media(768)
        --filterheight: 35px
    .list-filter
        display: flex
        @include media(991)
            justify-content: space-between
        .colA
            padding: 0 25px
            border-right: 1px solid var(--bordercolor)
            pointer-events: none
            @include media(991)
                pointer-events: all
                padding-left: 0
            @include media(675)
                padding-right: 15px
            @include media(345)
                padding-right: 13px
            @include media(320)
                padding-right: 10px
            .filter-btn
                height: var(--filterheight)
                line-height: 0
        .colB
            flex: 1
            @include media(991)
                right: 0
                transform: translateX(100%)
                transition: .5s ease
            &.is-open
                @include media(991)
                    transform: translateX(0%)
            .close
                @include media(991)
                    top: 30px
                    left: 25px
                    right: auto
            .filter-options
                display: flex
                align-items: center
                @include media(991)
                    display: block
                    padding: 70px 0 0
                    height: 100%
                    overflow-y: auto
                    position: relative
                .btn-mbl-btm
                    display: flex
                    position: absolute
                    bottom: 0
                    left: 0
                    right: 0
                    z-index: 2
                    @include media-min(991)
                        display: none
                    .aplly-btn,.clr-btn
                        flex: 1
                        --height: 44px
                        background: $black
                        color: $white
                        border-radius: 0px
                    >*
                        border: none
                        &:not(:last-child)
                            border-right: 1px solid rgb(256 256 256 / .6)
                .selected-filters-div
                    margin-left: 30px
                    display: flex
                    align-items: center
                    gap: 8px
                    width: 100%
                    white-space: nowrap
                    overflow-x: auto
                    @include media(1280)
                        margin-left: 20px
                    @include media(991)
                        margin-top: 30px
                    .filter-item
                        display: inline-block
                        vertical-align: middle
                        white-space: nowrap
                        background: $white
                        font-size: 12px
                        padding: 2px 9px
                        caret-color: transparent
                        border: 1px solid $text
                        border-radius: 25px
                        color: $text
                        .close-btn
                            margin-left: 3px
                            cursor: pointer
                            color: $text
        .adi-select-wrap
            --labelheight: var(--filterheight)
            padding: 0 20px
            @include media(991)
                width: 100%
            &:not(.sort_by)
                @include media-min(991)
                    border-right: 1px solid var(--bordercolor)
                @include media(991)
                    border-top: 1px solid var(--bordercolor)
                .label
                    @include media(991)
                        @include font(500)
                .adi-select-menu
                    @include media(991)
                        position: unset
                        width: 100%
                        box-shadow: none
                        padding-top: 8px
                        padding-bottom: 8px
            &.sort_by
                @include media(991)
                    padding-right: 0

.footer-strip
    position: fixed
    bottom: 0
    left: 0
    right: 0
    z-index: 4
    height: var(--footerstrip)
    background: $black
    display: none
    @include media(540)
        display: block
    ul
        @include flex
        li
            flex: 1
            &:not(:last-child)
                border-right: 1px solid rgb(256 256 256 / 10%)
            a
                display: flex
                flex-direction: column
                align-items: center
                padding: 8px
                gap: 3px
                color: $white
                font-size: 14px
                height: var(--footerstrip)
                svg
                    width: 20px
                    height: 20px
                    // &[stroke]
                    //     stroke: $white
                    // &[fill]
                    //     fill: $white
                    // path
                    //     &[stroke]
                    //         stroke: $white
                    //     &[fill]
                    //         fill: $white
