@import './_var'


.form
    --labelbefore: var(--text)
    --labelafter: var(--black)
    --borderbefore: var(--text)
    --borderafter: var(--black)
    --labelfontbefore: 16px
    --labelfontafter: 14px
    --font: 500
    --inputsize: 42px
    --color: var(--black)
    --borderwidth: 1px
    --labelbackground: none
    --font: normal
    --textareaheight: 86px
    --paddingleftright: 0px
    &.white
        --labelbefore: #FFFFFFB2
        --labelafter: var(--white)
        --borderbefore: #FFFFFFB2
        --borderafter: var(--white)
        --color: var(--white)
        .form-group
            input, textarea
                caret-color: $white
                &:-webkit-autofill
                    -webkit-text-fill-color: #fff !important
        .check_term
            .input_box
                .in-bx
                    border: 1px solid var(--white)
                    &::before
                        background-image: url(/assets/icon/tick.svg)
                        background-size: 100%
                p
                    color: #FFFFFFB2
                input
                    &:checked
                        ~ .in-bx
                            background: $white
                            border-color: $white
                    
    .form-group
        position: relative
        flex: 0 1 100%
        max-width: 100%
        width: 100%
        --selectheight: var(--inputsize)
        line-height: 0
        &.hasCalender
            background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='1em' height='1em' viewBox='0 0 24 24'%3E%3Cpath fill='%237E84A3' d='M19 4h-2V3a1 1 0 0 0-2 0v1H9V3a1 1 0 0 0-2 0v1H5a3 3 0 0 0-3 3v12a3 3 0 0 0 3 3h14a3 3 0 0 0 3-3V7a3 3 0 0 0-3-3m1 15a1 1 0 0 1-1 1H5a1 1 0 0 1-1-1v-7h16Zm0-9H4V7a1 1 0 0 1 1-1h2v1a1 1 0 0 0 2 0V6h6v1a1 1 0 0 0 2 0V6h2a1 1 0 0 1 1 1Z'/%3E%3C/svg%3E")
            background-repeat: no-repeat
            background-position: 100% 50%
            &.hasCalender-white
                background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' width='1em' height='1em' viewBox='0 0 24 24'><path fill='%23ffffff' d='M19 4h-2V3a1 1 0 0 0-2 0v1H9V3a1 1 0 0 0-2 0v1H5a3 3 0 0 0-3 3v12a3 3 0 0 0 3 3h14a3 3 0 0 0 3-3V7a3 3 0 0 0-3-3m1 15a1 1 0 0 1-1 1H5a1 1 0 0 1-1-1v-7h16Zm0-9H4V7a1 1 0 0 1 1-1h2v1a1 1 0 0 0 2 0V6h6v1a1 1 0 0 0 2 0V6h2a1 1 0 0 1 1 1Z'/></svg>")
        &.active
            &::after
                width: 100%
        &::before,&::after
            content: ''
            position: absolute
            bottom: 0
            left: 0
            right: 0
            height: var(--borderwidth)
            transition: .5s ease
        &::before
            background: var(--borderbefore)
        &::after
            width: 0
            background: var(--borderafter)
        label
            font-weight: var(--font)
            position: absolute
            top: calc((var(--inputsize) / 2) - (var(--labelfontbefore) / 2))
            left: var(--paddingleftright)
            color: var(--labelbefore)
            line-height: 1
            font-size: var(--labelfontbefore)
            background: none
            transition: .3s ease
            user-select: none
            pointer-events: none
        input,textarea
            height: calc(var(--inputsize) - var(--borderwidth))
            border: none
            resize: none
            border-radius: 0px !important
            width: 100%
            background: none
            color: var(--color)
            font-size: inherit
            font-family: inherit
            cursor: initial
            padding: 0 var(--paddingleftright)
            &:focus,&.valid
                outline: none
                & ~ label
                    font-size: var(--labelfontafter)
                    color: var(--labelafter)
                    top: calc(var(--labelfontafter) / -2)
                    // background: var(--labelbackground)
        textarea
            height: var(--textareaheight)
            border: none
            resize: none
            border-radius: 0px !important
            width: 100%
            background: none
            color: var(--color)
            font-size: inherit
            font-family: inherit
            line-height: 1.2
            cursor: initial
            @include scrollbar(2px,none,$primary,15px)
            padding: 0 var(--paddingleftright)
            padding-right: 15px
            &:focus,&.valid
                outline: none
                margin-top: 13px
                height: calc(var(--textareaheight) - 13px)
        select
            &:focus
                outline: none
            & ~ label
                position: absolute
                top: calc(var(--labelfontafter) / -2)
                left: var(--paddingleftright)
                color: var(--labelafter)
                translate: 0 0
                font-size: var(--labelfontafter)
                opacity: 0
                transition: .6s ease
                // background: var(--labelbackground)
            &.valid
                color: var(--color)
                & ~ label
                    opacity: 1
        &.file-input
            input[type="file"]
                position: absolute
                top: 0
                left: 0
                right: 0
                bottom: 0
                width: 100%
                height: 100%
                opacity: 0
                z-index: 4
                cursor: pointer
            .file-name
                pointer-events: none  
                height: calc(var(--inputsize) - var(--borderwidth))
                position: relative
                --filename: 'Attach your CV *'
                --filenameinitial: var(--filename)
                --color: var(--text)
                --background: none
                --image: url(/assets/icon/clip.svg) no-repeat
                appearance: none
                line-height: calc(var(--inputsize) - var(--borderwidth))
                &::before,&::after
                    position: absolute
                    top: 0
                    bottom: 0
                    left: 0
                    right: 0
                &::before
                    content: var(--filenameinitial)
                    z-index: 2
                    font-family: inherit
                    font-size: inherit
                    line-height: calc(var(--inputsize) - var(--borderwidth))
                    padding-left: var(--paddingleftright)
                    color: var(--color)
                    font-weight: 400 
                    width: 80%
                    overflow: hidden
                    text-overflow: ellipsis
                    background: none
                &::after
                    content: ''
                    right: 0
                    background: var(--image)
                    background-repeat: no-repeat
                    z-index: 1
                    background-position: calc(100% - var(--paddingleftright,0)) 50%
                    background-size: auto 50%
                    opacity: 0.6
            .file_type
                position: absolute
                font-size: 12px
                line-height: normal
                position: absolute
                top: calc(100% + 3px)
                left: 0
                color: $text
                font-weight: 400
            .error
                left: unset 
                text-align: right
        .error
            color: red
            font-size: 12px
            line-height: normal
            position: absolute
            top: calc(100% + 3px)
            left: 0
            right: 0
            &.static
                position: static
                margin: 10px 0
    .check_term
        margin: 15px 0
        .input_box
            position: relative
            display: flex
            align-items: start
            gap: 10px
            padding-bottom: 10px
            --boxsize: 19px
            .in-bx
                height: var(--boxsize)
                width: var(--boxsize)
                border: 1px solid var(--black)
                border-radius: 5px
                transition: 0s ease
                position: relative
                @include before(url(/assets/icon/tick-white.svg))
                &::before
                    background-repeat: no-repeat
                    background-size: 48%
                    background-position: center center
                    opacity: 0
            p
                flex: 1
                font-size: 14px
                line-height: 1.3
                color: $black
                font-weight: 300
                max-width: 90%
            input
                position: absolute
                left: 0
                top: 0
                width: 100%
                height: 100%
                z-index: 1
                appearance: none
                opacity: 0
                &:checked
                    ~ .in-bx
                        border-color: $primary
                        background: $primary
                        &::before
                            opacity: 1
    .submit-grp
        &:not(.text-left)
            text-align: center
            margin-top: 23px
            @include media(540) 
                margin-top: 10px
.custom-select
    max-width: 100%
    cursor: pointer
    display: block
    font-family: inherit
    height: var(--selectheight)
    position: relative
    transition: all .2s ease-in-out
    user-select: none
    white-space: nowrap
    padding: 0 var(--paddingleftright)
    --arrow: 15px
    --arrowspace: 8px
    --paddingleftright: 0
    &.valid
        .current
            color: var(--labelafter)
    &.has-icon
        --iconsize: 12px
        // --iconurl: url(../../icon/location-gradient.svg)
        --iconspace: 8px
        @include after
        &::after
            left: 0
            width: var(--iconsize)
            background-image: var(--iconurl)
            background-repeat: no-repeat
            background-size: 100% auto
            background-position: 0 50%
        .current
            padding-left: calc(var(--iconsize) + var(--iconspace))
            padding-right: calc(var(--arrow) + var(--iconsize) + var(--arrowspace) + var(--iconspace))
    &::before
        content: ''
        position: absolute
        top: 0
        right: var(--paddingleftright)
        bottom: 0
        width: var(--arrow)
        background-image: url(/assets/icon/arrow-down-gray.svg)
        background-position: 0 50%
        background-repeat: no-repeat
        background-size: 100% auto
    .current
        display: block
        width: 100%
        overflow: hidden
        text-overflow: ellipsis
        line-height: var(--inputsize)
        color: var(--labelbefore)
        font-size: var(--labelfontbefore)
        font-weight: var(--font)
        padding-right: calc(var(--arrow) + var(--arrowspace))
        &.selected
            color: var(--color)
    .list
        text-align: left
        background-color: #fff
        box-shadow: rgba(0,0,0,.16) 0px 1px 4px
        overflow: hidden
        position: absolute
        top: 100%
        left: 0
        right: 0
        opacity: 0
        transform-origin: 50% 0
        z-index: 7
        max-height: 180px
        overflow-y: auto
        border-bottom-left-radius: 10px
        border-bottom-right-radius: 10px
        @include scrollbar(4px,none,$text,5px)
        pointer-events: none
        li
            display: block
            line-height: 1.2
            padding: 8px 16px
            white-space: break-spaces
            font-size: 14px
            &.selected
                background: $primary
                color: $white
                &:hover
                    background: $primary
                    color: $white
            &:hover
                background: #e2e2e2
    &.open
        .list
            opacity: 1
            pointer-events: auto
            transform: scale(1) translateY(0)

.filter-ul
    li
        @include checkbox-full
        &:not(:last-child)
            margin-bottom: 10px
        p
            font-size: 14px
            color: $text

.daterangepicker
    font-family: $Inter !important
    option,td
        &.disabled
            text-decoration: none !important
    td
        &.active
            background-color: $primary !important
    .drp-buttons
        .btn
            --height: 30px
            padding: 0 15px !important
            font-weight: 400 !important
            font-size: 12px !important

.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default, .ui-button, html .ui-button.ui-state-disabled:hover, html .ui-button.ui-state-disabled:active
    border-radius: 50%
    background: $black
    border-color: $black
    height: 17px
    width: 17px
    border: none !important
    top: 50%
    translate: 0 -50%
    &:focus
        outline: none
.ui-slider-horizontal
    height: 2px
    border: none !important
.ui-widget-content
    background: #CECECE
    border: none !important
.ui-widget-header
    background: $black

.checkbox-full
    @include checkbox-full

.radio-full
    @include radio-full