@keyframes shine {
  from {
    opacity: 0;
    left: 0%;
  }
  50% {
    opacity: 1;
  }
  to {
    opacity: 0;
    left: 100%;
  }
}
.banner.service_banner::before {
  background: linear-gradient(270deg, rgba(0, 0, 0, 0) 0%, #000000 100%);
}
@media only screen and (max-width: 768px) {
  .banner.service_banner .bg {
    height: 600px;
  }
}
@media only screen and (max-width: 540px) {
  .banner.service_banner .bg {
    height: 300px;
  }
}
.banner.service_banner .banner-wrapper {
  top: unset;
  bottom: 20%;
  transform: translate(0, 20%);
}
.banner.service_banner .banner-wrapper .heading {
  max-width: 430px;
}
.banner.service_banner .banner-wrapper .heading h1 {
  color: var(--secondary);
}
.banner.service_banner .banner-wrapper .heading p {
  color: rgba(255, 255, 255, 0.7019607843);
}

.service_clients .service_awards {
  margin-top: 0;
}

.service_tabbing_sec .tab-nav {
  display: flex;
  align-items: center;
  gap: 60px;
  justify-content: space-between;
  margin: 40px auto 30px;
  border-bottom: 1px solid #C2C2C2;
}
@media only screen and (max-width: 1170px) {
  .service_tabbing_sec .tab-nav {
    gap: 40px;
  }
}
@media only screen and (max-width: 991px) {
  .service_tabbing_sec .tab-nav {
    overflow-x: auto;
    width: 100%;
  }
  .service_tabbing_sec .tab-nav::-webkit-scrollbar {
    width: 0;
    background: none;
    height: 0;
  }
  .service_tabbing_sec .tab-nav::-webkit-scrollbar-track {
    box-shadow: none;
  }
  .service_tabbing_sec .tab-nav::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 10px;
  }
  .service_tabbing_sec .tab-nav {
    padding: 0 20px 0 0;
  }
}
@media only screen and (max-width: 768px) {
  .service_tabbing_sec .tab-nav {
    margin: 20px auto 30px;
  }
}
@media only screen and (max-width: 540px) {
  .service_tabbing_sec .tab-nav {
    gap: 25px;
  }
}
.service_tabbing_sec .tab-nav li {
  position: relative;
  padding-bottom: 15px;
  color: rgba(0, 0, 0, 0.4);
  cursor: pointer;
}
@media only screen and (max-width: 1170px) {
  .service_tabbing_sec .tab-nav li {
    white-space: nowrap;
  }
}
@media only screen and (max-width: 540px) {
  .service_tabbing_sec .tab-nav li {
    padding-bottom: 10px;
    font-size: 14px;
  }
}
.service_tabbing_sec .tab-nav li.active {
  color: var(--primary);
}
.service_tabbing_sec .tab-nav li.active::before {
  width: 100%;
}
.service_tabbing_sec .tab-nav li::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 2px;
  width: 0;
  background-color: var(--secondary);
  transition: 0.5s ease;
}
.service_tabbing_sec .tab-nav-content {
  background: var(--bglight);
}
.service_tabbing_sec .tab-nav-content .container-fluid, .service_tabbing_sec .tab-nav-content .container {
  padding-right: 0;
  position: relative;
}
@media only screen and (min-width: 1336px) {
  .service_tabbing_sec .tab-nav-content .container-fluid, .service_tabbing_sec .tab-nav-content .container {
    padding-left: 17%;
  }
}
.service_tabbing_sec .tab-nav-content .tabs {
  padding: 100px 0 60px;
  transition: 0.5s ease;
}
@media only screen and (max-width: 1170px) {
  .service_tabbing_sec .tab-nav-content .tabs {
    padding: 80px 0 60px;
  }
}
@media only screen and (max-width: 991px) {
  .service_tabbing_sec .tab-nav-content .tabs {
    padding: 60px 0 50px;
  }
}
@media only screen and (max-width: 540px) {
  .service_tabbing_sec .tab-nav-content .tabs {
    padding: 40px 0;
  }
}
.service_tabbing_sec .tab-nav-content .tabs:not(.active) {
  opacity: 0;
  transform: scale(0.8);
  transform-origin: bottom;
}
.service_tabbing_sec .tab-nav-content .tabs .main_wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: end;
  --gap: 60px;
  gap: var(--gap);
}
@media only screen and (max-width: 1170px) {
  .service_tabbing_sec .tab-nav-content .tabs .main_wrapper {
    --gap: 50px;
  }
}
@media only screen and (max-width: 991px) {
  .service_tabbing_sec .tab-nav-content .tabs .main_wrapper {
    --gap: 40px;
  }
}
@media only screen and (max-width: 768px) {
  .service_tabbing_sec .tab-nav-content .tabs .main_wrapper {
    --gap: 30px;
  }
}
.service_tabbing_sec .tab-nav-content .tabs .main_wrapper .colA {
  flex: 0 1 30%;
  max-width: 30%;
  width: 100%;
}
@media only screen and (max-width: 1170px) {
  .service_tabbing_sec .tab-nav-content .tabs .main_wrapper .colA {
    flex: 0 1 35%;
    max-width: 35%;
  }
}
@media only screen and (max-width: 768px) {
  .service_tabbing_sec .tab-nav-content .tabs .main_wrapper .colA {
    flex: 0 1 100%;
    max-width: 100%;
    padding-right: 20px;
  }
}
.service_tabbing_sec .tab-nav-content .tabs .main_wrapper .colA .heading h2 {
  color: var(--primary);
  line-height: 1.1;
}
.service_tabbing_sec .tab-nav-content .tabs .main_wrapper .colA .heading p {
  color: var(--black);
}
.service_tabbing_sec .tab-nav-content .tabs .main_wrapper .colA .swiper-nav {
  margin-top: 30px;
  gap: 15px;
}
@media only screen and (max-width: 768px) {
  .service_tabbing_sec .tab-nav-content .tabs .main_wrapper .colA .swiper-nav {
    margin-top: 20px;
  }
}
.service_tabbing_sec .tab-nav-content .tabs .main_wrapper .colA .swiper-nav button:hover svg path {
  stroke: var(--white);
}
.service_tabbing_sec .tab-nav-content .tabs .main_wrapper .colA .swiper-nav button svg path {
  fill: none;
}
.service_tabbing_sec .tab-nav-content .tabs .main_wrapper .colB {
  flex: 1;
  max-width: calc(70% - var(--gap));
  width: 100%;
}
@media only screen and (max-width: 1170px) {
  .service_tabbing_sec .tab-nav-content .tabs .main_wrapper .colB {
    max-width: calc(65% - var(--gap));
  }
}
@media only screen and (max-width: 768px) {
  .service_tabbing_sec .tab-nav-content .tabs .main_wrapper .colB {
    max-width: 100%;
  }
}
.service_tabbing_sec .tab-nav-content .tabs .main_wrapper .colB .service_slider {
  transition: 0.5s ease;
}
@media only screen and (max-width: 1170px) {
  .service_tabbing_sec .tab-nav-content .tabs .main_wrapper .colB .service_slider {
    height: 300px;
  }
}
.service_tabbing_sec .tab-nav-content .tabs .main_wrapper .colB .service_col {
  border-radius: 10px;
}
@media only screen and (max-width: 1170px) {
  .service_tabbing_sec .tab-nav-content .tabs .main_wrapper .colB .service_col {
    height: 100%;
  }
}
.service_tabbing_sec .tab-nav-content .tabs .main_wrapper .colB .service_col:hover figure img {
  transform: scale(1.1);
}
.service_tabbing_sec .tab-nav-content .tabs .main_wrapper .colB .service_col::before {
  background: linear-gradient(rgba(0, 0, 0, 0) 0%, hsla(0, 0%, 0%, 0.4) 100%);
  border-radius: 10px;
}
.service_tabbing_sec .tab-nav-content .tabs .main_wrapper .colB .service_col figure {
  border-radius: 10px;
  position: relative;
}
.service_tabbing_sec .tab-nav-content .tabs .main_wrapper .colB .service_col figure::before {
  content: "";
  display: block;
  width: 0px;
  height: 86%;
  position: absolute;
  top: 7%;
  left: 0%;
  opacity: 0;
  background: white;
  box-shadow: 0 0 55px 12px white;
  transform: skewX(-20deg);
  z-index: 1;
}
.service_tabbing_sec .tab-nav-content .tabs .main_wrapper .colB .service_col figure:hover::before {
  animation: shine 0.4s linear;
  animation-fill-mode: none;
}
.service_tabbing_sec .tab-nav-content .tabs .main_wrapper .colB .service_col figure img {
  border-radius: 10px;
  transition: 0.5s ease;
}
.service_tabbing_sec .tab-nav-content .tabs .main_wrapper .colB .service_col figcaption {
  padding: 0 30px 30px 15px;
}
@media only screen and (max-width: 540px) {
  .service_tabbing_sec .tab-nav-content .tabs .main_wrapper .colB .service_col figcaption {
    padding: 0 15px 20px;
  }
}
.service_tabbing_sec .tab-nav-content .tabs .main_wrapper .colB .service_col figcaption h5 {
  font-size: 16px;
  color: var(--white);
}
.service_tabbing_sec .tab-nav-content .tabs .main_wrapper .colB .service_col figcaption .btn {
  margin-top: 15px;
}

.contact_form_sec .main_wrapper {
  background: var(--gradient-a);
  border-radius: 20px;
  padding: 70px;
}
@media only screen and (max-width: 991px) {
  .contact_form_sec .main_wrapper {
    padding: 50px;
  }
}
@media only screen and (max-width: 768px) {
  .contact_form_sec .main_wrapper {
    padding: 40px;
    border-radius: 10px;
  }
}
@media only screen and (max-width: 540px) {
  .contact_form_sec .main_wrapper {
    padding: 30px 25px;
  }
}
.contact_form_sec .main_wrapper .heading {
  text-align: center;
  max-width: 590px;
  margin: 0 auto 60px;
}
@media only screen and (max-width: 991px) {
  .contact_form_sec .main_wrapper .heading {
    max-width: 400px;
    margin: 0 auto 50px;
  }
}
@media only screen and (max-width: 768px) {
  .contact_form_sec .main_wrapper .heading {
    max-width: 325px;
    margin: 0 auto 30px;
  }
}
.contact_form_sec .main_wrapper .heading h2 {
  color: var(--white);
}
.contact_form_sec .main_wrapper .form {
  max-width: 590px;
  margin: 0 auto;
}
.contact_form_sec .main_wrapper .form .form-grid {
  --item: 2;
}
@media only screen and (max-width: 540px) {
  .contact_form_sec .main_wrapper .form .form-grid {
    --item: 1;
  }
}
.contact_form_sec .main_wrapper .form .form-grid .custom-select::before {
  background-image: url(/assets/icon/arrow-down-white.svg);
}
.contact_form_sec .main_wrapper .form .form-grid .submit-grp .white {
  border: 1px solid var(--white);
}
.contact_form_sec .main_wrapper .form .form-grid .submit-grp .white svg {
  display: none;
}
.contact_form_sec .main_wrapper .form .form-grid .submit-grp .white::after {
  display: none;
}
.contact_form_sec .main_wrapper .form .form-grid .submit-grp .white:hover {
  background: none;
  color: var(--white);
}

@media only screen and (max-width: 991px) {
  .banner.serviceD_banner .bg {
    height: 500px;
  }
}
@media only screen and (max-width: 768px) {
  .banner.serviceD_banner .bg {
    height: 450px;
  }
}
@media only screen and (max-width: 540px) {
  .banner.serviceD_banner .bg {
    height: 300px;
  }
}
.banner.serviceD_banner::before {
  background: linear-gradient(270deg, rgba(0, 0, 0, 0) 0%, #000000 100%);
}
.banner.serviceD_banner .banner-wrapper {
  top: unset;
  bottom: 20%;
  transform: translate(0, 20%);
}
.banner.serviceD_banner .banner-wrapper .heading {
  max-width: 580px;
}
.banner.serviceD_banner .banner-wrapper .heading h1 {
  color: var(--secondary);
  font-size: 16px;
  font-weight: 500;
}
@media only screen and (max-width: 540px) {
  .banner.serviceD_banner .banner-wrapper .heading h1 {
    font-size: 14px;
  }
}
.banner.serviceD_banner .banner-wrapper .heading p {
  font-size: 36px;
  color: var(--white);
  font-weight: 500;
  line-height: 1.2;
}
@media only screen and (max-width: 991px) {
  .banner.serviceD_banner .banner-wrapper .heading p {
    font-size: 32px;
  }
}
@media only screen and (max-width: 768px) {
  .banner.serviceD_banner .banner-wrapper .heading p {
    font-size: 26px;
  }
}
@media only screen and (max-width: 540px) {
  .banner.serviceD_banner .banner-wrapper .heading p {
    font-size: 20px;
  }
}

.growth_sec {
  position: relative;
  z-index: 0;
}
.growth_sec::before {
  content: "";
  position: absolute;
  width: 200px;
  height: 200px;
  background-color: var(--primary);
  filter: blur(120px);
  border-radius: 50%;
}
.growth_sec::before {
  right: 0;
  bottom: 0;
  width: 150px;
  height: 150px;
}
@media only screen and (max-width: 768px) {
  .growth_sec::before {
    width: 120px;
    height: 120px;
  }
}
@media only screen and (max-width: 540px) {
  .growth_sec::before {
    width: 100px;
    height: 100px;
  }
}
.growth_sec .main_wrapper {
  align-items: center;
}
.growth_sec .main_wrapper .colA {
  flex: 0 1 60%;
  max-width: 60%;
  width: 100%;
  padding: 60px 210px 60px 0;
  border-right: 1px solid rgba(0, 0, 0, 0.2588235294);
}
@media only screen and (max-width: 1170px) {
  .growth_sec .main_wrapper .colA {
    padding: 60px 100px 60px 0;
  }
}
@media only screen and (max-width: 991px) {
  .growth_sec .main_wrapper .colA {
    padding: 50px 55px 50px 0;
  }
}
@media only screen and (max-width: 768px) {
  .growth_sec .main_wrapper .colA {
    flex: 0 1 100%;
    max-width: 100%;
    border-right: 0;
    padding: 0;
  }
}
.growth_sec .main_wrapper .colA .heading h2 {
  font-size: 28px;
}
@media only screen and (max-width: 540px) {
  .growth_sec .main_wrapper .colA .heading h2 {
    font-size: 24px;
  }
}
.growth_sec .main_wrapper .colA .heading p {
  margin-top: 15px;
}
@media only screen and (max-width: 768px) {
  .growth_sec .main_wrapper .colA .heading p {
    margin-top: 10px;
  }
}
.growth_sec .main_wrapper .colB {
  flex: 0 1 40%;
  max-width: 40%;
  width: 100%;
  padding: 30px 0px 30px 100px;
}
@media only screen and (max-width: 1170px) {
  .growth_sec .main_wrapper .colB {
    padding: 30px 0 30px 70px;
  }
}
@media only screen and (max-width: 991px) {
  .growth_sec .main_wrapper .colB {
    padding: 30px 0 30px 50px;
  }
}
@media only screen and (max-width: 768px) {
  .growth_sec .main_wrapper .colB {
    flex: 0 1 100%;
    max-width: 100%;
    padding: 30px 0 0 0;
  }
}
@media only screen and (max-width: 540px) {
  .growth_sec .main_wrapper .colB {
    padding: 20px 0 0 0;
  }
}
@media only screen and (max-width: 768px) {
  .growth_sec .main_wrapper .colB .counter_wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    text-align: center;
  }
}
@media only screen and (max-width: 540px) {
  .growth_sec .main_wrapper .colB .counter_wrapper {
    gap: 10px;
  }
}
@media only screen and (max-width: 540px) {
  .growth_sec .main_wrapper .colB .counter_wrapper .count_col {
    max-width: 130px;
  }
}
.growth_sec .main_wrapper .colB .counter_wrapper .count_col:not(:last-child) {
  margin-bottom: 50px;
}
@media only screen and (max-width: 991px) {
  .growth_sec .main_wrapper .colB .counter_wrapper .count_col:not(:last-child) {
    margin-bottom: 45px;
  }
}
@media only screen and (max-width: 768px) {
  .growth_sec .main_wrapper .colB .counter_wrapper .count_col:not(:last-child) {
    margin-bottom: 0;
  }
}
.growth_sec .main_wrapper .colB .counter_wrapper .count_col h6 {
  font-weight: 200;
  font-size: 64px;
  line-height: 1.2;
}
@media only screen and (max-width: 991px) {
  .growth_sec .main_wrapper .colB .counter_wrapper .count_col h6 {
    font-size: 54px;
  }
}
@media only screen and (max-width: 768px) {
  .growth_sec .main_wrapper .colB .counter_wrapper .count_col h6 {
    font-size: 46px;
  }
}
@media only screen and (max-width: 540px) {
  .growth_sec .main_wrapper .colB .counter_wrapper .count_col h6 {
    font-size: 32px;
  }
}
.growth_sec .main_wrapper .colB .counter_wrapper .count_col p {
  font-size: 20px;
  font-weight: 400;
  color: var(--black);
}
@media only screen and (max-width: 991px) {
  .growth_sec .main_wrapper .colB .counter_wrapper .count_col p {
    font-size: 18px;
  }
}
@media only screen and (max-width: 768px) {
  .growth_sec .main_wrapper .colB .counter_wrapper .count_col p {
    font-size: 16px;
  }
}
@media only screen and (max-width: 540px) {
  .growth_sec .main_wrapper .colB .counter_wrapper .count_col p {
    font-size: 14px;
    margin-top: 2px;
  }
}

.ad_banner {
  position: sticky;
  top: var(--headerfixed);
}
.ad_banner .banner.banner_sec::before {
  display: none;
}
@media only screen and (max-width: 991px) {
  .ad_banner .banner.banner_sec .bg {
    height: 550px;
  }
}
@media only screen and (max-width: 768px) {
  .ad_banner .banner.banner_sec .bg {
    height: 500px;
  }
}
@media only screen and (max-width: 540px) {
  .ad_banner .banner.banner_sec .bg {
    height: 400px;
  }
}

.offering_sec {
  position: relative;
  background: var(--white);
}
.offering_sec .main_wrapper {
  --gap: 100px;
  gap: var(--gap);
}
@media only screen and (max-width: 1170px) {
  .offering_sec .main_wrapper {
    --gap: 70px;
  }
}
@media only screen and (max-width: 991px) {
  .offering_sec .main_wrapper {
    --gap: 50px;
  }
}
@media only screen and (max-width: 768px) {
  .offering_sec .main_wrapper {
    --gap: 30px;
  }
}
@media only screen and (max-width: 540px) {
  .offering_sec .main_wrapper {
    --gap: 20px;
  }
}
.offering_sec .main_wrapper .heading {
  flex: 0 1 40%;
  max-width: 40%;
  width: 100%;
  margin-top: 20px;
}
@media only screen and (max-width: 768px) {
  .offering_sec .main_wrapper .heading {
    flex: 0 1 100%;
    max-width: 100%;
    margin-top: 0;
  }
}
.offering_sec .main_wrapper .heading h2 {
  font-size: 48px;
  font-weight: 300;
}
@media only screen and (max-width: 1170px) {
  .offering_sec .main_wrapper .heading h2 {
    font-size: 42px;
  }
}
@media only screen and (max-width: 991px) {
  .offering_sec .main_wrapper .heading h2 {
    font-size: 36px;
  }
}
@media only screen and (max-width: 768px) {
  .offering_sec .main_wrapper .heading h2 {
    font-size: 30px;
  }
}
@media only screen and (max-width: 540px) {
  .offering_sec .main_wrapper .heading h2 {
    font-size: 24px;
  }
}
.offering_sec .main_wrapper .heading p {
  font-weight: 400;
}
.offering_sec .main_wrapper .offering_faqs {
  flex: 1;
  max-width: calc(60% - var(--gap));
  width: 100%;
  border-top: 1px solid rgba(49, 49, 49, 0.3490196078);
}
@media only screen and (max-width: 768px) {
  .offering_sec .main_wrapper .offering_faqs {
    max-width: 100%;
    border-color: var(--secondary);
    border-top-width: 2px;
  }
}
.offering_sec .main_wrapper .offering_faqs .faq_item {
  border-bottom: 1px solid rgba(49, 49, 49, 0.3490196078);
}
.offering_sec .main_wrapper .offering_faqs .faq_item.active .faq_item_question .faq_item_text, .offering_sec .main_wrapper .offering_faqs .faq_item.active .faq_item_question .faq_item_icon {
  color: var(--black);
}
.offering_sec .main_wrapper .offering_faqs .faq_item.active .faq_item_question .faq_item_icon {
  transform: rotate(180deg);
}
.offering_sec .main_wrapper .offering_faqs .faq_item .faq_item_question {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  padding: 25px 0;
}
@media only screen and (max-width: 1170px) {
  .offering_sec .main_wrapper .offering_faqs .faq_item .faq_item_question {
    padding: 20px 0;
  }
}
@media only screen and (max-width: 540px) {
  .offering_sec .main_wrapper .offering_faqs .faq_item .faq_item_question {
    padding: 15px 0;
  }
}
.offering_sec .main_wrapper .offering_faqs .faq_item .faq_item_question .faq_item_text {
  flex: 1;
  text-align: left;
  font-size: 24px;
  color: rgba(0, 0, 0, 0.4);
  font-weight: 500;
  transition: 0.5s ease;
}
@media only screen and (max-width: 991px) {
  .offering_sec .main_wrapper .offering_faqs .faq_item .faq_item_question .faq_item_text {
    font-size: 20px;
  }
}
@media only screen and (max-width: 540px) {
  .offering_sec .main_wrapper .offering_faqs .faq_item .faq_item_question .faq_item_text {
    font-size: 16px;
  }
}
.offering_sec .main_wrapper .offering_faqs .faq_item .faq_item_question .faq_item_icon {
  flex: 0 1 auto;
  color: rgba(0, 0, 0, 0.4);
  transition: 0.5s ease;
}
@media only screen and (max-width: 991px) {
  .offering_sec .main_wrapper .offering_faqs .faq_item .faq_item_question .faq_item_icon svg {
    width: 18px;
    height: 18px;
  }
}
@media only screen and (max-width: 540px) {
  .offering_sec .main_wrapper .offering_faqs .faq_item .faq_item_question .faq_item_icon svg {
    width: 15px;
    height: 15px;
  }
}
.offering_sec .main_wrapper .offering_faqs .faq_item .faq_item_body {
  display: grid;
  grid-template-rows: 0fr;
  transition: 0.5s ease;
}
.offering_sec .main_wrapper .offering_faqs .faq_item .faq_item_body.active {
  grid-template-rows: 1fr;
  padding-bottom: 30px;
}
@media only screen and (max-width: 1170px) {
  .offering_sec .main_wrapper .offering_faqs .faq_item .faq_item_body.active {
    padding-bottom: 25px;
  }
}
@media only screen and (max-width: 540px) {
  .offering_sec .main_wrapper .offering_faqs .faq_item .faq_item_body.active {
    padding-bottom: 20px;
  }
}
.offering_sec .main_wrapper .offering_faqs .faq_item .faq_item_body .faq_item_answer {
  overflow: hidden;
}

.service_testimonials {
  position: relative;
  background: var(--white);
}
@media only screen and (max-width: 540px) {
  .service_testimonials {
    padding-top: 0;
  }
}
.service_testimonials .main_wrapper {
  align-items: center;
  justify-content: center;
  --gap: 100px;
  gap: var(--gap);
  background: var(--gradient-a);
  border-radius: 20px;
  padding: 160px 100px 100px;
}
@media only screen and (max-width: 1170px) {
  .service_testimonials .main_wrapper {
    padding: 100px 50px 60px;
    --gap: 70px;
  }
}
@media only screen and (max-width: 991px) {
  .service_testimonials .main_wrapper {
    padding: 80px 40px 50px;
    --gap: 30px;
  }
}
@media only screen and (max-width: 768px) {
  .service_testimonials .main_wrapper {
    padding: 60px 30px 50px;
    --gap: 20px;
  }
}
@media only screen and (max-width: 540px) {
  .service_testimonials .main_wrapper {
    padding: 40px 15px 30px;
  }
}
.service_testimonials .main_wrapper {
  position: relative;
}
.service_testimonials .main_wrapper::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 0;
  pointer-events: none;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  background: url("/assets/icon/quote.svg");
  transition: 0.5s ease;
}
.service_testimonials .main_wrapper::before {
  background-repeat: no-repeat;
  background-position: 45% 18%;
}
@media only screen and (max-width: 1170px) {
  .service_testimonials .main_wrapper::before {
    background-position: 34% -5%;
  }
}
@media only screen and (max-width: 991px) {
  .service_testimonials .main_wrapper::before {
    background-position: 98% 0%;
    background-size: 32%;
  }
}
.service_testimonials .main_wrapper .colA {
  flex: 0 1 280px;
  max-width: 280px;
  width: 100%;
}
@media only screen and (max-width: 768px) {
  .service_testimonials .main_wrapper .colA {
    flex: 0 1 240px;
    max-width: 240px;
  }
}
@media only screen and (max-width: 540px) {
  .service_testimonials .main_wrapper .colA {
    flex: 0 1 220px;
    max-width: 220px;
  }
}
.service_testimonials .main_wrapper .colA .testimonial_figure {
  height: 290px;
}
@media only screen and (max-width: 768px) {
  .service_testimonials .main_wrapper .colA .testimonial_figure {
    height: 250px;
  }
}
@media only screen and (max-width: 540px) {
  .service_testimonials .main_wrapper .colA .testimonial_figure {
    height: 230px;
  }
}
.service_testimonials .main_wrapper .colA .testimonial_figure figure {
  height: 272px;
  width: 272px;
  border-radius: 50%;
}
@media only screen and (max-width: 768px) {
  .service_testimonials .main_wrapper .colA .testimonial_figure figure {
    width: 232px;
    height: 232px;
  }
}
@media only screen and (max-width: 540px) {
  .service_testimonials .main_wrapper .colA .testimonial_figure figure {
    width: 212px;
    height: 212px;
  }
}
.service_testimonials .main_wrapper .colA .testimonial_figure figure img {
  border-radius: 50%;
}
.service_testimonials .main_wrapper .colB {
  flex: 1;
  max-width: calc(60% - var(--gap));
  width: 100%;
}
@media only screen and (max-width: 991px) {
  .service_testimonials .main_wrapper .colB {
    max-width: 100%;
  }
}
@media only screen and (max-width: 991px) {
  .service_testimonials .main_wrapper .colB .testimonial_content figcaption {
    text-align: center;
  }
}
.service_testimonials .main_wrapper .colB .testimonial_content figcaption .desc {
  margin-bottom: 25px;
}
@media only screen and (max-width: 768px) {
  .service_testimonials .main_wrapper .colB .testimonial_content figcaption .desc {
    margin-bottom: 20px;
  }
}
@media only screen and (max-width: 540px) {
  .service_testimonials .main_wrapper .colB .testimonial_content figcaption .desc {
    margin-bottom: 15px;
  }
}
.service_testimonials .main_wrapper .colB .testimonial_content figcaption .desc p {
  font-size: 24px;
  line-height: 32px;
  color: var(--white);
  font-weight: 300;
}
@media only screen and (max-width: 1170px) {
  .service_testimonials .main_wrapper .colB .testimonial_content figcaption .desc p {
    font-size: 22px;
  }
}
@media only screen and (max-width: 768px) {
  .service_testimonials .main_wrapper .colB .testimonial_content figcaption .desc p {
    font-size: 20px;
    line-height: 1.4;
  }
}
@media only screen and (max-width: 540px) {
  .service_testimonials .main_wrapper .colB .testimonial_content figcaption .desc p {
    font-size: 16px;
    line-height: 1.4;
  }
}
.service_testimonials .main_wrapper .colB .testimonial_content figcaption .desc p:not(:last-child) {
  margin-bottom: 10px;
}
.service_testimonials .main_wrapper .colB .testimonial_content figcaption .user_details {
  position: relative;
  padding-top: 20px;
}
@media only screen and (max-width: 540px) {
  .service_testimonials .main_wrapper .colB .testimonial_content figcaption .user_details {
    padding-top: 15px;
  }
}
.service_testimonials .main_wrapper .colB .testimonial_content figcaption .user_details::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 90px;
  height: 3px;
  background: var(--secondary);
}
@media only screen and (max-width: 991px) {
  .service_testimonials .main_wrapper .colB .testimonial_content figcaption .user_details::before {
    left: 50%;
    transform: translateX(-50%);
  }
}
.service_testimonials .main_wrapper .colB .testimonial_content figcaption .user_details h6 {
  font-size: 18px;
  font-weight: 600;
  color: var(--white);
}
@media only screen and (max-width: 540px) {
  .service_testimonials .main_wrapper .colB .testimonial_content figcaption .user_details h6 {
    font-size: 16px;
  }
}
.service_testimonials .main_wrapper .colB .testimonial_content figcaption .user_details p {
  font-weight: 300;
  color: var(--white);
  font-size: 14px;
}
.service_testimonials .main_wrapper .colB .swiper-nav {
  margin-top: 40px;
}
@media only screen and (max-width: 991px) {
  .service_testimonials .main_wrapper .colB .swiper-nav {
    justify-content: center;
    gap: 20px;
  }
}
@media only screen and (max-width: 768px) {
  .service_testimonials .main_wrapper .colB .swiper-nav {
    margin-top: 30px;
    gap: 15px;
  }
}
@media only screen and (max-width: 540px) {
  .service_testimonials .main_wrapper .colB .swiper-nav {
    display: flex !important;
    margin-top: 20px;
  }
}

.more_services {
  position: relative;
  background: var(--white);
}
@media only screen and (max-width: 991px) {
  .more_services .container, .more_services container-fluid {
    padding-right: 0;
  }
}
.more_services .heading {
  text-align: center;
  margin-bottom: 60px;
}
@media only screen and (max-width: 1170px) {
  .more_services .heading {
    margin-bottom: 50px;
  }
}
@media only screen and (max-width: 768px) {
  .more_services .heading {
    margin-bottom: 40px;
  }
}
@media only screen and (max-width: 540px) {
  .more_services .heading {
    margin-bottom: 30px;
  }
}
.more_services .heading h2 {
  font-size: 48px;
}
@media only screen and (max-width: 1170px) {
  .more_services .heading h2 {
    font-size: 42px;
  }
}
@media only screen and (max-width: 991px) {
  .more_services .heading h2 {
    font-size: 36px;
  }
}
@media only screen and (max-width: 768px) {
  .more_services .heading h2 {
    font-size: 30px;
  }
}
@media only screen and (max-width: 540px) {
  .more_services .heading h2 {
    font-size: 26px;
  }
}
.more_services .main_wrapper {
  position: relative;
}
.more_services .main_wrapper .more_services_slider {
  max-width: 97%;
}
.more_services .main_wrapper .more_services_slider .more_col {
  border-radius: 10px;
}
.more_services .main_wrapper .more_services_slider .more_col:hover figure img {
  transform: scale(1.1);
}
.more_services .main_wrapper .more_services_slider .more_col::before {
  background: linear-gradient(rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.6) 100%);
  border-radius: 10px;
}
.more_services .main_wrapper .more_services_slider .more_col figure {
  border-radius: 10px;
  position: relative;
}
.more_services .main_wrapper .more_services_slider .more_col figure::before {
  content: "";
  display: block;
  width: 0px;
  height: 86%;
  position: absolute;
  top: 7%;
  left: 0%;
  opacity: 0;
  background: white;
  box-shadow: 0 0 55px 12px white;
  transform: skewX(-20deg);
  z-index: 1;
}
.more_services .main_wrapper .more_services_slider .more_col figure:hover::before {
  animation: shine 0.4s linear;
  animation-fill-mode: none;
}
.more_services .main_wrapper .more_services_slider .more_col figure img {
  border-radius: 10px;
  transition: 0.8s ease;
}
.more_services .main_wrapper .more_services_slider .more_col figcaption {
  padding: 0 35px 40px;
}
@media only screen and (max-width: 1170px) {
  .more_services .main_wrapper .more_services_slider .more_col figcaption {
    padding: 0 25px 30px;
  }
}
@media only screen and (max-width: 768px) {
  .more_services .main_wrapper .more_services_slider .more_col figcaption {
    padding: 0 15px 20px;
  }
}
.more_services .main_wrapper .more_services_slider .more_col figcaption h6 {
  color: var(--white);
}
@media only screen and (max-width: 768px) {
  .more_services .main_wrapper .more_services_slider .more_col figcaption h6 {
    line-height: 1.2;
    font-size: 18px;
  }
}

.partner-banner.banner::before {
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.8) 100%);
}
@media only screen and (max-width: 991px) {
  .partner-banner.banner .bg {
    height: 550px;
  }
}
@media only screen and (max-width: 768px) {
  .partner-banner.banner .bg {
    height: 500px;
  }
}
@media only screen and (max-width: 540px) {
  .partner-banner.banner .bg {
    height: 450px;
  }
}
.partner-banner.banner .bg .banner-wrapper .heading {
  max-width: 610px;
  margin: 0 auto;
  text-align: center;
}
.partner-banner.banner .bg .banner-wrapper .heading h2 {
  font-size: 48px;
  color: var(--white);
  font-weight: 200;
}
@media only screen and (max-width: 1170px) {
  .partner-banner.banner .bg .banner-wrapper .heading h2 {
    font-size: 42px;
  }
}
@media only screen and (max-width: 768px) {
  .partner-banner.banner .bg .banner-wrapper .heading h2 {
    font-size: 36px;
  }
}
@media only screen and (max-width: 540px) {
  .partner-banner.banner .bg .banner-wrapper .heading h2 {
    font-size: 28px;
  }
}
.partner-banner.banner .bg .banner-wrapper .heading .btn {
  margin-top: 60px;
}
@media only screen and (max-width: 1170px) {
  .partner-banner.banner .bg .banner-wrapper .heading .btn {
    margin-top: 50px;
  }
}
@media only screen and (max-width: 768px) {
  .partner-banner.banner .bg .banner-wrapper .heading .btn {
    margin-top: 40px;
  }
}
@media only screen and (max-width: 540px) {
  .partner-banner.banner .bg .banner-wrapper .heading .btn {
    margin-top: 30px;
  }
}/*# sourceMappingURL=service.css.map */